

{{!-- NAV BAR --}}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Saved Articles</a>
      <a class="nav-item nav-link" href="#">Scrape New Articles!</a>
      
    </div>
  </div>
</nav>



{{!-- JUMBOTRON FOR LOOKS? --}}
<div class="jumbotron">
  <h1 class="display-4">Hello, World!</h1>
  <p class="lead">NEW YORK TIMES SCRAPER</p>
  <hr class="my-4">
  <p>SAVE AND DELETE ARTICLES!</p>

</div>



{{!-- CARDS FOR ARTICLES --}}
<div class="card">
  <div class="card-header">
    Title goes here
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>INFO</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>


